<h1>Stupid Coaching</h1>
<p>Ask your coach anything</p>

<form  id="askform" action="/answer" method ="get">
  <input type="text" name="question" placeholder="Ask Coach">
  <!-- can also add value = <% params[:member] %> at end of above lien if you put it in nav bar for example to save value when refreshing page -->
  <input type="submit" value ="Ask" >
</form>